<div class="cart-dropdown-summary">
  <div class="cart-dropdown-summary-header">
    <span class="cart-dropdown-summary-amount"> {{ amount() }} items in cart</span>
    <span class="cart-dropdown-summary-total-price">{{ totalPrice() | currency }}</span>
    <button class="gec-button primary-button" (click)="onClearCart()">Clear cart</button>
  </div>

  <ul class="cart-dropdown-summary-products">
    @for (product of cart(); track product.id) {
      <li class="cart-dropdown-summary-product-row">
        <img [src]="product.imageSrc" [width]="100" [alt]="'Cart product image'" />
        <span class="product-row-name">
          <span>{{ product.name }}</span>
          <a
            tabindex="0"
            (click)="onRemoveProduct(product.id)"
            (keydown.enter)="onRemoveProduct(product.id)">Remove</a>
        </span>
        <span class="product-row-price">{{ product.price | currency }}</span>
      </li>
    }
  </ul>
</div>
