@use 'assets/styles/_colours.scss';

:host {
  background-color: colours.$white;
  border: 1px solid rgba(184, 184, 184, 0.5);
  font-size: 0.9375rem;

  .cart-dropdown-summary {
    width: 370px;
    text-transform: uppercase;

    &-header {
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      line-height: 1;
      color: colours.$grey-70;
    }

    &-products {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      max-height: 270px;
      overflow-y: auto;
    }

    &-product-row {
      padding: 5px;
      display: grid;
      grid-template-columns: 100px 1fr auto;
      gap: 10px;
      max-width: 100%;
      border-top: 1px solid rgba(184, 184, 184, 0.3);
      color: colours.$grey-80;

      &:hover {
        .product-row-name {
          a {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }

      .product-row-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        min-width: 0;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          max-width: 100%;
        }

        a {
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.2s;
          cursor: pointer;
          color: colours.$grey-80;
          font-size: 0.75rem;
          text-decoration: underline;
          text-transform: capitalize;
        }
      }

      .product-row-price {
        margin: auto;
        color: colours.$grey-100;
      }
    }
  }

}
