<div class="cart-dropdown-summary">
  <div class="cart-dropdown-summary-header">
    <span class="cart-dropdown-summary-amount"> {{ itemsAmount }} items in cart</span>
    <span class="cart-dropdown-summary-total-price">{{ totalPrice | currency }}</span>
    <button class="cart-dropdown-summary-button">Clear cart</button>
  </div>

  <ul class="cart-dropdown-summary-products">
    @for (product of products; track product.id) {
      <li class="cart-dropdown-summary-product-row">
        <img [src]="product.imageSrc" [width]="100" [alt]="'Cart product image'" />
        <span class="product-row-name">
          <span>{{ product.name }}</span>
          <a>Remove</a>
        </span>
        <span>{{ product.price | currency }}</span>
      </li>
    }
  </ul>
</div>
