$border: 1px solid rgba(184, 184, 184, 0.5);

:host {
  height: 100%;

  .cart-button {
    cursor: pointer;
    color: #404040;
    height: 100%;
    background-color: #FFFFFF;
    font-size: 0.875rem;
    border-top: none;
    border-bottom: none;
    border-right: $border;
    border-left: $border;
    padding: 0 15px;
    position: relative;

    &.empty {
      cursor: not-allowed;

      span {
        opacity: 0.5;
      }
    }
  }
}
