<button
  #cartBtn
  class="cart-button"
  [disabled]="store.isEmpty()"
  [ngClass]="{ disabled: store.isEmpty() }"
  (click)="openDropdown(cartBtn)"
>
  <div [@countAnimation]="store.amount()">
    <img [src]="'/icons/cart.svg'" width="16" height="14" alt="Cart icon" />
    <span>{{ store.amount() }}</span>
  </div>
</button>

<ng-template #cartDropdown>
  <gec-cart-dropdown
    [cart]="store.cart()"
    [totalPrice]="store.totalPrice()"
    [amount]="store.amount()"
    (clearCart)="onClearCart()"
    (removeProduct)="onRemoveProduct($event)" />
</ng-template>
