.gec-badge {
  display: inline-block;
  border-radius: 2px;
  font-size: 0.8125rem;
  font-weight: 600;
  cursor: default;
  padding: 3px 6px;

  &-light-grey {
    background-color: #E0E0E0;
    border: 1px solid #979797;
    box-shadow: 0 1px 1px 0 #C6C6C680;
    color: #979797;
  }

  &-grey {
    background-color: #E0E0E0;
    border: 1px solid #979797;
    box-shadow: 0 1px 1px 0 #C6C6C680;
    color: #404040;
  }

  &-green {
    background-color: #00905E;
    border: 1px solid #00905E;
    color: #FFFFFF;
  }

  &-clickable {
    cursor: pointer;
  }
}
