.menu {
  &-header {
    position: sticky;
    z-index: 2;
    top: 0;
    height: 59px;
    display: flex;
    padding: 0 110px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(360deg, #DCDCDC 0.01%, #FFFFFF 100%, #FFFFFF 100%);
    box-shadow: 0 0 15px 0 #00000026;

    @media (max-width: 599px) {
      padding: 0 20px;
      justify-content: space-between;
    }
  }

  &-image {
    cursor: pointer;
  }
}

