$white: #FFFFFF;

// Grey
$grey-70: #1A1A1A;
$grey-80: #212121;
$grey-90: #262626;
$grey-100: #404040;
$grey-500: #979797;
$grey-800: #DCDCDC;
$grey-810: #E0E0E0;

// Purple
$purple-200: #7A3DC6;
$purple-300: #8E4EE9;
$purple-500: #B65AE2;
$purple-600: #D18CF7;

// Green
$green-200: #00905E;
$green-300: #01aa6f;
$green-500: #00C78C;
$green-600: #03dc9b;

