@if (storeFacade.banner()) {
  <gec-banner
    [banner]="storeFacade.banner()"
    (btnClick)="onBannerBtnClick()" />
}
@if (storeFacade.products().length) {
  <section class="product-catalogue-content">
    @for (product of storeFacade.products(); track product.id) {
      <gec-image-card [imageSrc]="product.imageSrc" [info]="product.name">
        <gec-product-content [product]="product" (addToCart)="onAddToCart(product)" />
      </gec-image-card>
    }
  </section>
}

@if (storeFacade.loadingBanner() || storeFacade.loadingProducts()) {
  <span class="loading-spinner"></span>
}

