<gec-product-banner [title]="'Game of the week'"
                    [imageSrc]="'/images/products/witcher_adventure.png'" (btnClick)="onBannerBtnClick()" />
<section class="product-catalogue-content">
  @for (product of products; track product.id) {
    <gec-image-card [imageSrc]="product.imageSrc">
      <div class="product-details">
        <div class="product-name">
          {{ product.name }}
        </div>
        <div class="product-badges">
          @switch (product.status) {
            @case (productStatus.NOT_OWNED) {
              <gec-badge [color]="'green'"> {{ '-' + product.discount | percent }}</gec-badge>
              <gec-badge [color]="'grey'" [clickable]="true"> {{ product.price | currency }}</gec-badge>
            }
            @case (productStatus.OWNED) {
              <gec-badge [color]="'light-grey'">{{ product.status }}</gec-badge>
            }
            @case (productStatus.IN_CART) {
              <gec-badge [color]="'grey'"> {{ product.status }}</gec-badge>
            }
          }
        </div>
      </div>
    </gec-image-card>
  }
</section>
